.singlePost img,
.singlePost svg {
  display: block; /* Sovrascrive qualsiasi altro display */
  margin: auto; /* Centra l'immagine orizzontalmente */
  width: 70%; /* Larghezza fissa */
  height: auto; /* Mantiene l'aspetto dell'immagine */
}

.card {
  height: 490px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
