.singlePost img,
.singlePost svg {
  display: block; /* Sovrascrive qualsiasi altro display */
  margin: auto; /* Centra l'immagine orizzontalmente */
  width: 70%; /* Larghezza fissa */
  height: auto; /* Mantiene l'aspetto dell'immagine */
}

.card {
  height: 490px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

h6 span:hover {
    cursor: pointer;
    text-decoration: underline;
    color: aquamarine;
}

h6 span {
    color: blue;
}